# Dependencias
node_modules/
package-lock.json

# Expo y Metro Bundler
.expo/
dist/
web-build/

# Variables de entorno secretas (Seguridad RNF-02)
.env
.env.local
.env*.local

# Logs del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SO y herramientas
.DS_Store
Thumbs.db